{% extends 'base.html.twig' %}

{% block title 'Agence Lorem Ipsum' %}


{% block body %}
    <div class="bg-light p-5 rounded-lg text-center">
        <h1>Agence Lorem Ipsum</h1>
        <p>Velit veniam sit minim occaecat mollit laborum eu laboris esse occaecat qui ullamco. Dolore nulla culpa officia officia pariatur ea ipsum Lorem occaecat minim irure. Laboris quis fugiat esse consectetur reprehenderit non qui incididunt labore nulla ex esse eiusmod duis. Adipisicing et officia eu ipsum nostrud commodo.</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', { id : property.id, slug : property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight:bold; font-size:2rem;">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}